<div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label">Member ID</label>
                <input type="text" formControlName="memberId" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.memberId.errors }" />
                <div *ngIf="submitted && f.memberId.errors" class="invalid-feedback">
                    <div *ngIf="f.memberId.errors.required">Member ID is required</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Full Name</label>
                <input type="text" formControlName="fullname" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }" />
                <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
                    <div *ngIf="f.fullname.errors.required">Full Name is required</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Date of Birth</label>
                <input type="date" formControlName="dateOfBirth" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.dateOfBirth.errors }" />
                <div *ngIf="submitted && f.dateOfBirth.errors" class="invalid-feedback">
                    <div *ngIf="f.dateOfBirth.errors.required">Date Of Birth is required</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Gender</label>
                <select formControlName="gender" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Unspecified</option>
                </select>
                <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                    <div *ngIf="f.gender.errors.required">Gender is required</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Membership Type</label>
                <select formControlName="membershipType" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.membershipType.errors }">
                    <option>Basic</option>
                    <option>Premium</option>
                    <option>Corporate</option>
                    <option>Student</option>
                    <option>Day pass</option>
                </select>
                <div *ngIf="submitted && f.membershipType.errors" class="invalid-feedback">
                    <div *ngIf="f.membershipType.errors.required">Membership Type is required</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Membership Start day</label>
                <input type="text" formControlName="membershipStartDay" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.membershipStartDay.errors }" />
                <div *ngIf="submitted && f.membershipStartDay.errors" class="invalid-feedback">
                    <div *ngIf="f.membershipStartDay.errors.required">Membership Start day is required</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Contact No.</label>
                <input type="number" formControlName="contact" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.contact.errors }" />
                <div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
                    <div *ngIf="f.contact.errors.required">First Name is required</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Residential Address</label>
                <input type="text" formControlName="residentialAddress" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.residentialAddress.errors }" />
                <div *ngIf="submitted && f.residentialAddress.errors" class="invalid-feedback">
                    <div *ngIf="f.residentialAddress.errors.required">Residential Address is required</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Emergency Contact No.</label>
                <input type="number" formControlName="emergencyContact" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.emergencyContact.errors }" />
                <div *ngIf="submitted && f.emergencyContact.errors" class="invalid-feedback">
                    <div *ngIf="f.emergencyContact.errors.required">Emergency Contact No is required</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Medical Condition</label>
                <input type="text" formControlName="medical" class="form-control"/>
            </div>
            <div>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                    Register
                </button>
            </div>
        </form>
    </div>
</div>